<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HangmanSMSGameServices</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddToMOQueue</display-name>
    <servlet-name>AddToMOQueue</servlet-name>
    <servlet-class>mutua.hangmansmsgame.servlet.AddToMOQueue</servlet-class>
    <init-param>
      <description></description>
      <param-name>AUTHENTICATION_TOKEN</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>MSISDN</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>CARRIER_NAME</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>LA</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>MO_ID</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>TEXT</param-name>
      <param-value></param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToMOQueue</servlet-name>
    <url-pattern>/AddToMOQueue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToSubscribeUserQueue</display-name>
    <servlet-name>AddToSubscribeUserQueue</servlet-name>
    <servlet-class>mutua.hangmansmsgame.servlet.AddToSubscribeUserQueue</servlet-class>
    <init-param>
      <description></description>
      <param-name>AUTHENTICATION_TOKEN</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>MSISDN</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>CARRIER_NAME</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>LA</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>SUBSCRIPTION_ID</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>SUBSCRIPTION_CHANNEL</param-name>
      <param-value></param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToSubscribeUserQueue</servlet-name>
    <url-pattern>/AddToSubscribeUserQueue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToUnsubscribeUserQueue</display-name>
    <servlet-name>AddToUnsubscribeUserQueue</servlet-name>
    <servlet-class>mutua.hangmansmsgame.servlet.AddToUnsubscribeUserQueue</servlet-class>
    <init-param>
      <description></description>
      <param-name>AUTHENTICATION_TOKEN</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>MSISDN</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>CARRIER_NAME</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>SUBSCRIPTION_ID</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>UNSUBSCRIPTION_CHANNEL</param-name>
      <param-value></param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToUnsubscribeUserQueue</servlet-name>
    <url-pattern>/AddToUnsubscribeUserQueue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReloadConfiguration</display-name>
    <servlet-name>ReloadConfiguration</servlet-name>
    <servlet-class>mutua.hangmansmsgame.servlet.ReloadConfiguration</servlet-class>
    <init-param>
      <description></description>
      <param-name>AUTHENTICATION_TOKEN</param-name>
      <param-value></param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReloadConfiguration</servlet-name>
    <url-pattern>/ReloadConfiguration</url-pattern>
  </servlet-mapping>
</web-app>