# License Infringment Control
#############################

SUBSCRIPTION_CHANNEL_NAME=HangMan

# Not a good idea to mess with these values (possible values: CELLTICK_BR_INTEGRATION, CELLTICK_JUNIT_TESTS_INTEGRATION, BASE, HELP, SUBSCRIPTION, SUBSCRIPTION_LIFECYCLE, DRAW, PROFILE, QUIZ, CELEBRITY_AI, REVERSE_AUCTION, DECISION_TREE, HANGMAN, TIC_TAC_TOE, XAVECO, SWEEPSTAKE, OFFER_VS_DEMAND, ALERTS, NOTIFICATIONS, PROXIMITY_SEARCH, TEXT4INFO, PIN_CODE, MASS_TEXT_MESSAGING, CHAT, DATING, MATCH_MAKING, SMS_TWITTER, SMS_QUORA, MPAYMENT, ZETA, SMS_ROUTER)
ENABLED_MODULES+=CELLTICK_JUNIT_TESTS_INTEGRATION
ENABLED_MODULES+=BASE
ENABLED_MODULES+=HELP
ENABLED_MODULES+=SUBSCRIPTION
ENABLED_MODULES+=PROFILE
ENABLED_MODULES+=CHAT
ENABLED_MODULES+=HANGMAN

# If set, instructs /AddToMOQueue and other services to require received MSISDNs to have a minimum length
#ALLOWABLE_MSISDN_MIN_LENGTH=-1
# Same as above, but for a maximum length
#ALLOWABLE_MSISDN_MAX_LENGTH=-1
# If set, MSISDNs used on any service will be required to have one of the listed prefixes
#ALLOWABLE_MSISDN_PREFIXES+=...
# If set, /AddToMOQueue will only process MOs from the listed carriers (possible values: TIM, VIVO, CLARO, OI, NEXTEL, CTBC, SERCOMTEL, TEST_CARRIER, UNKNOWN)
#ALLOWABLE_CARRIERS+=...
# If set, /AddToMOQueue (and other services) will only process MOs and send MTs to the listed short codes -- which may be long codes as well
#ALLOWABLE_SHORT_CODES+=...

# Navigation States
###################

# The possible values for the following configurations are: HELPtrgGlobalStartCompositeHelpDialog, HELPtrgLocalShowNextCompositeHelpMessage, HELPtrgGlobalShowNewUsersFallbackHelp, HELPtrgGlobalShowExistingUsersFallbackHelp, HELPtrgGlobalShowStatelessHelpMessage, HELPtrgGlobalShowStatefulHelpMessage, SUBSCRIPTIONtrgLocalStartDoubleOptin, SUBSCRIPTIONtrgLocalAcceptDoubleOptin, SUBSCRIPTIONtrgLocalRefuseDoubleOptin, SUBSCRIPTIONtrgGlobalUnsubscribe, PROFILEtrgGlobalStartAskForNicknameDialog, PROFILEtrgLocalNicknameDialogCancelation, PROFILEtrgLocalRegisterNickname, PROFILEtrgGlobalRegisterNickname, PROFILEtrgGlobalShowUserProfile, CHATtrgGlobalSendPrivateMessage, CHATtrgLocalSendPrivateReply, HANGMANtrgGlobalInviteNicknameOrPhoneNumber, HANGMANtrgLocalHoldMatchWord, HANGMANtrgLocalAcceptMatchInvitation, HANGMANtrgLocalRefuseMatchInvitation, HANGMANtrgLocalNewLetterOrWordSuggestionForHuman, HANGMANtrgLocalNewLetterOrWordSuggestionForBot

# Navigation state used to initiate the first interaction with the application and, also, the state after users subscriptions cancellation
BASEnstNewUser+=SUBSCRIPTIONtrgLocalAcceptDoubleOptin
BASEnstNewUser+=SUBSCRIPTIONtrgGlobalUnsubscribe
BASEnstNewUser+=SUBSCRIPTIONtrgLocalStartDoubleOptin
BASEnstNewUser+=CHATtrgGlobalSendPrivateMessage
BASEnstNewUser+=HELPtrgGlobalShowNewUsersFallbackHelp

# Navigation state used by registered users. Also the 'main loop' navigation state, to which all other states revert to when they finish their businesses
BASEnstExistingUser+=HELPtrgGlobalShowStatelessHelpMessage
BASEnstExistingUser+=SUBSCRIPTIONtrgGlobalUnsubscribe
BASEnstExistingUser+=PROFILEtrgGlobalRegisterNickname
BASEnstExistingUser+=PROFILEtrgGlobalShowUserProfile
BASEnstExistingUser+=CHATtrgGlobalSendPrivateMessage
BASEnstExistingUser+=HANGMANtrgGlobalInviteNicknameOrPhoneNumber
BASEnstExistingUser+=HELPtrgGlobalShowNewUsersFallbackHelp

# Navigation state used to show the composite help messages, containing command triggers to navigate from here on
HELPnstPresentingCompositeHelp+=HELPtrgGlobalStartCompositeHelpDialog
HELPnstPresentingCompositeHelp+=HELPtrgLocalShowNextCompositeHelpMessage
HELPnstPresentingCompositeHelp+=HELPtrgGlobalShowExistingUsersFallbackHelp

# Navigation state used to implement the double opt-in process
SUBSCRIPTIONnstAnsweringDoubleOptin+=SUBSCRIPTIONtrgLocalAcceptDoubleOptin
SUBSCRIPTIONnstAnsweringDoubleOptin+=SUBSCRIPTIONtrgLocalRefuseDoubleOptin
SUBSCRIPTIONnstAnsweringDoubleOptin+=SUBSCRIPTIONtrgGlobalUnsubscribe
SUBSCRIPTIONnstAnsweringDoubleOptin+=SUBSCRIPTIONtrgLocalStartDoubleOptin

# Navigation state used to interact with the user when asking for a nickname
PROFILEnstRegisteringNickname+=PROFILEtrgGlobalRegisterNickname
PROFILEnstRegisteringNickname+=PROFILEtrgGlobalStartAskForNicknameDialog
PROFILEnstRegisteringNickname+=PROFILEtrgLocalNicknameDialogCancelation
PROFILEnstRegisteringNickname+=PROFILEtrgGlobalShowUserProfile
PROFILEnstRegisteringNickname+=PROFILEtrgLocalRegisterNickname

# Navigation state used when privately chatting with someone -- allows the user to simply type the message (no need to provide the nickname)
CHATnstChattingWithSomeone+=CHATtrgLocalSendPrivateReply

# Navigation state part of the invitation process of a human to play a hangman match -- on this state, the user must enter the desired word to be guessed, which will be processed by 'cmdHoldMatchWord'
HANGMANnstEnteringMatchWord+=HANGMANtrgLocalHoldMatchWord
HANGMANnstEnteringMatchWord+=HELPtrgGlobalShowExistingUsersFallbackHelp

# State an invited user gets into after he/she is invited for a match, which is set by 'cmdHoldMatchWord'. The invited user answer will, then, be processed by 'cmdAnswerToInvitation'
HANGMANnstAnsweringToHangmanMatchInvitation+=CHATtrgGlobalSendPrivateMessage
HANGMANnstAnsweringToHangmanMatchInvitation+=HANGMANtrgLocalAcceptMatchInvitation
HANGMANnstAnsweringToHangmanMatchInvitation+=HANGMANtrgLocalRefuseMatchInvitation
HANGMANnstAnsweringToHangmanMatchInvitation+=PROFILEtrgGlobalShowUserProfile
HANGMANnstAnsweringToHangmanMatchInvitation+=HELPtrgGlobalShowExistingUsersFallbackHelp

# Navigation state that indicates the user is playing a hangman match with a human (as the invited opponent), and his/her role is to guess the word
HANGMANnstGuessingWordFromHangmanHumanOpponent+=HANGMANtrgLocalNewLetterOrWordSuggestionForHuman
HANGMANnstGuessingWordFromHangmanHumanOpponent+=CHATtrgGlobalSendPrivateMessage
HANGMANnstGuessingWordFromHangmanHumanOpponent+=HELPtrgGlobalShowStatefulHelpMessage

# Navigation state that indicates the user is playing a hangman match with the robot, and his/her hole is to guess the word
HANGMANnstGuessingWordFromHangmanBotOpponent+=HANGMANtrgLocalNewLetterOrWordSuggestionForBot
HANGMANnstGuessingWordFromHangmanBotOpponent+=CHATtrgGlobalSendPrivateMessage
HANGMANnstGuessingWordFromHangmanBotOpponent+=HELPtrgGlobalShowExistingUsersFallbackHelp

<#lock CELLTICK_SUBSCRIPTION_CHANNEL_NAME, ENABLED_MODULES>
<#lock ALLOWABLE_MSISDN_MIN_LENGTH, ALLOWABLE_MSISDN_MAX_LENGTH, ALLOWABLE_MSISDN_PREFIXES, ALLOWABLE_CARRIERS, ALLOWABLE_SHORT_CODES>
<#lock BASEnstNewUser,BASEnstExistingUser, HELPnstPresentingCompositeHelp, SUBSCRIPTIONnstAnsweringDoubleOptin, PROFILEnstRegisteringNickname, CHATnstChattingWithSomeone, HANGMANnstEnteringMatchWord, HANGMANnstAnsweringToHangmanMatchInvitation,HANGMANnstGuessingWordFromHangmanHumanOpponent, HANGMANnstGuessingWordFromHangmanBotOpponent>
<#fsInclude /tmp/hangman.config>