# Instant VAS instances
#######################
# The following values may be repeated n times -- one for each SMS Application Instance served by this Instant VAS server

# Defines the retrieve method for the Instant VAS application configuration -- possible values are, for read-only info: JAR_FILE, FS_FILE; for read-write: HTTP, POSTGRESQL
INSTANTVAS_INSTANCE_CONFIG_TYPE+=JAR_FILE
# The location, in respect to the above definition, to retrieve the data from -- either a jar path, an fs path, a web service url or a pgsql connection string
INSTANTVAS_INSTANCE_CONFIG_ACCESS_INFO+=/CelltickHangmanClaroBR.config
# The token this instance's requests are required to provide to have their authorization granted
INSTANTVAS_INSTANCE_CONFIG_TOKEN+=caosjufsojjfidsjf